 .u-section-1 {
  background-image: none;
  min-height: 884px;
}

.u-section-1 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 560px;
  background-image: url("images/68c642378cc2a1075a156350e2f9be078773fef4623f7dc644bc0f93d2d125a027f77bb0357a570a5003aa0b5863ee6f2f04cc1f2dd04946e5ccfe_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-2 {
  width: 539px;
  min-height: 485px;
  background-image: none;
  height: auto;
  margin: -160px auto 0 calc(((100% - 1140px) / 2) + 31px);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 27px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  background-image: none;
  font-weight: 700;
  margin: 30px 0 0;
  padding: 20px 47px 20px 46px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 885px;
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 940px) / 2) + 31px);
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-2 {
    width: 437px;
    min-height: 470px;
    margin-top: -218px;
    margin-left: calc(((100% - 720px) / 2) + 31px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 987px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 447px;
    margin-top: -290px;
    margin-bottom: 44px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 852px;
  }

  .u-section-1 .u-group-2 {
    width: 291px;
    min-height: 435px;
    margin-top: -278px;
    margin-bottom: 38px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}